{% extends 'base.html' %}

{% block title %}
    Créer un ticket - LITRevu
{% endblock %}

{% block content %}
    <section class="form-page">
        <h1>Créer un ticket</h1>

        <form
            method="post"
            enctype="multipart/form-data"
            class="content-form"
        >
            {% csrf_token %}

            {{ form.non_field_errors }}

            <div class="form-field">
                <label for="{{ form.title.id_for_label }}">
                    Titre
                </label>

                {{ form.title }}
                {{ form.title.errors }}
            </div>

            <div class="form-field">
                <label for="{{ form.description.id_for_label }}">
                    Description
                </label>

                {{ form.description }}
                {{ form.description.errors }}
            </div>

            <div class="form-field">
                <label for="{{ form.image.id_for_label }}">
                    Image
                </label>

                {{ form.image }}
                {{ form.image.errors }}
            </div>

            <div class="form-actions">
                <button type="submit">
                    Envoyer
                </button>
            </div>
        </form>
    </section>
{% endblock %}
