{% extends 'base.html' %}

{% block title %}
    Supprimer un ticket - LITRevu
{% endblock %}

{% block content %}
    <section class="delete-page">
        <h1>Supprimer le ticket</h1>

        <div class="delete-box">
            <p>
                Voulez-vous vraiment supprimer
                <strong>« {{ ticket.title }} »</strong> ?
            </p>

            <p>Cette action est définitive.</p>

            <div class="delete-actions">
                <a href="{% url 'feed' %}" class="button-link">
                    Annuler
                </a>

                <form method="post">
                    {% csrf_token %}
                    <button type="submit" class="danger-button">
                        Supprimer
                    </button>
                </form>
            </div>
        </div>
    </section>
{% endblock %}
