<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Flux - LITRevu</title>
</head>
<body>
    <h1>Flux</h1>
    <p>Bienvenue sur votre flux.</p>

    <a href="{% url 'logout' %}">Se déconnecter</a>

    <a href="{% url 'create_ticket' %}">Créer un ticket</a>

    <h2>Tickets</h2>

        {% for ticket in tickets %}
            <article>
                <h3>{{ ticket.title }}</h3>

                <p>{{ ticket.description }}</p>

                <p>
                    Publié par {{ ticket.user.username }}
                    le {{ ticket.time_created }}
                </p>

                {% if ticket.user == user %}
                    <a href="{% url 'edit_ticket' ticket.id %}">Modifier</a>
                    <a href="{% url 'delete_ticket' ticket.id %}">Supprimer</a>
                {% endif %}

            </article>
        {% empty %}
            <p>Aucun ticket pour le moment.</p>
        {% endfor %}

</body>
</html>
