{% extends 'base.html' %}

{% block title %}
    Mes posts - LITRevu
{% endblock %}

{% block content %}
    <section class="posts-page">
        <h1>Vos posts</h1>

        <div class="posts-section">
            <h2>Mes tickets</h2>

            {% for ticket in tickets %}
                {% include 'reviews/ticket_snippet.html' with post=ticket %}
            {% empty %}
                <p>Vous n'avez publié aucun ticket.</p>
            {% endfor %}
        </div>

        <div class="posts-section">
            <h2>Mes critiques</h2>

            {% for review in reviews %}
                {% include 'reviews/review_snippet.html' with post=review %}
            {% empty %}
                <p>Vous n'avez publié aucune critique.</p>
            {% endfor %}
        </div>

        <div class="posts-section">
            <h2>Réponses à mes tickets</h2>

            {% for review in reviews_on_my_tickets %}
                {% include 'reviews/review_snippet.html' with post=review %}
            {% empty %}
                <p>Aucune réponse à vos tickets.</p>
            {% endfor %}
        </div>
    </section>
{% endblock %}
