<article class="post-card review-card">
    <div class="post-header">
        <p>
            {{ post.user.username }} a publié une critique
        </p>

        <time>
            {{ post.time_created }}
        </time>
    </div>

    <h2>
        {{ post.headline }}
        — {{ post.rating }}/5
    </h2>

    {% if post.body %}
        <p>{{ post.body }}</p>
    {% endif %}

    <div class="review-ticket">
    <p>
        Ticket — {{ post.ticket.user.username }}
    </p>

    <h3>{{ post.ticket.title }}</h3>

    {% if post.ticket.description %}
        <p>{{ post.ticket.description }}</p>
    {% endif %}

    {% if post.ticket.image %}
        <img
            src="{{ post.ticket.image.url }}"
            alt="Image associée à {{ post.ticket.title }}"
            class="post-image"
        >
    {% endif %}
</div>

    {% if post.user == user %}
        <div class="post-actions">
            <a href="{% url 'edit_review' post.id %}">
                Modifier
            </a>

            <a href="{% url 'delete_review' post.id %}">
                Supprimer
            </a>
        </div>
    {% endif %}
</article>
