{% extends 'base.html' %}

{% block title %}
    Inscription - LITRevu
{% endblock %}

{% block content %}
    <section class="signup-page">
        <h1>Inscrivez-vous</h1>

        <form method="post" class="content-form">
            {% csrf_token %}

            {{ form.non_field_errors }}

            {% for field in form %}
                <div class="form-field">
                    <label for="{{ field.id_for_label }}">
                        {{ field.label }}
                    </label>

                    {{ field }}

                    {{ field.errors }}

                    {% if field.help_text %}
                        <div class="help-text">
                            {{ field.help_text }}
                        </div>
                    {% endif %}
                </div>
            {% endfor %}

            <div class="signup-actions">
                <a href="{% url 'login' %}" class="button-link">
                    Retourner
                </a>

                <button type="submit">
                    S'inscrire
                </button>
            </div>
        </form>
    </section>
{% endblock %}
